
.vs/NppPlugin/v16/Browse.VC.db
*.tlog
*.obj
.vs/slnx.sqlite
TestDll/x64/Debug/vc142.idb
TestDll/x64/Debug/TestDll.log
.vs/NppPlugin/v16/.suo
.vs/NppPlugin/v16/Browse.VC.opendb
*.ipch
*.db
.vs/NppPlugin/v16/Solution.VC.db-shm
.vs/NppPlugin/v16/Solution.VC.db-wal
*.pdb
*.log
.vs/ProjectSettings.json
x64/Debug/TestDll.dll
x64/Debug/TestDll.ilk
x64/Debug/NppPluggin.lib
x64/Debug/NppPluggin.exp
x64/Debug/Logging.lib
NppPluggin/x64/Debug/vc142.idb
NppPluggin/x64/Debug/goLine.res
Logging/x64/Debug/Logging.idb
